:root {
  --color-primary: #b7094c;
  --color-secondary: #a01a58;
  --color-tertiary: #892b64;
  --color-quaternary: #723c70;
  --color-quinary: #5c4d7d;
  --color-light-blue: #455e89;
  --color-blue: #2e6f95;
  --color-deep-blue: #1780a1;
  --color-cyan: #0091ad;
}
